@page
@model PRN221_FinalProject_Team2.Pages.Member.Orders.IndexModel

<h2>Order History</h2>
@{
    if (TempData["excaption"] != null)
    {
        <span class="text-danger">@TempData["excaption"]</span>
    }
}
<form method="get" onsubmit="return validateDates()">
    <div class="row ps-2 pb-2 pt-3">
        <div class="col-4 d-flex justify-content-end">

            <label class="pt-2">Start orderdate :</label>
            <input name="d1" type="date" class="pt-2 ps-2" value="@Model.StartDate"   />
        </div>
        <div class="col-6 d-flex justify-content-center">
            <label class ="pt-2">End orderdate :</label>    
            <input name="d2" type="date" class="pt-2 ps-2" value="@Model.EndDate"  />
            <input type="submit" class="pt-2 ms-2" style="width:80px" value="Filter"  />
            
            
        </div>
        <div class="col"></div>
    </div>
</form>
<script>
    function validateDates() {
        var startDate = document.getElementsByName("d1")[0].value;
        var endDate = document.getElementsByName("d2")[0].value;

       

        var startYear = parseInt(startDate.substring(0, 4));
        var endYear = parseInt(endDate.substring(0, 4));

        if ((startYear < 1754 && startYear != 0) || startYear > 9999) {
            alert("Invalid year for Start Date. Please enter a year greater than 1753 and less than 9999.");
            return false;
        }

        if ((endYear < 1754 && endYear != 0) || endYear > 9999) {
            alert("Invalid year for End Date. Please enter a year greater than 1753 and less than 9999.");
            return false;
        }

        return true;
    }
</script>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>OrderId</th>
            <th>Order Date</th>
            <th>Ruqruired Date</th>
            <th>Shipped Date</th>
            <th>Feight</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var iteam in Model.orders)
        {
            var oderdetailss = Model.orderdetail.Where(x => x.OrderId == @iteam.OrderId).ToList();
            <tr>
                @*<td>Order Id:<a asp-page="Detail" asp-route-id="@iteam.OrderId">@iteam.OrderId</a></td>*@
                <td>
                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapse-@iteam.OrderId" role="button" aria-expanded="false" aria-controls="collapse-@iteam.OrderId">
                        Order Id: @iteam.OrderId
                    </a>
                <td>Order Date:@iteam.OrderDate?.ToString("dd-MM-yyyy")</td>
                <td>Ruqruired Date:@iteam.RequiredDate?.ToString("dd-MM-yyyy")</td>
                <td>Shipped Date:@iteam.ShippedDate?.ToString("dd-MM-yyyy")</td>

                <td>Feight:@iteam.Freight</td>
                <td>
                        @if (iteam.ShippedDate.HasValue)
                        {
                            if (iteam.ShippedDate <= iteam.RequiredDate)
                            {
                            <span class="badge bg-success">Shipped</span>
                            }
                            else
                            {
                            <span class="badge bg-warning text-dark">Shipped Late</span>
                            }
                        }
                        else
                        {
                            if (iteam.RequiredDate < DateTime.Today)
                            {
                            <span class="badge bg-danger">Out of Date</span>
                            }
                            else
                            {
                            <span class="badge bg-info">Shipping</span>
                            }
                        }
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <div class="collapse" id="collapse-@iteam.OrderId">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td>OrderId</td>
                                    <td>Product Id</td>
                                    <td>Product Name</td>
                                    <td>Price</td>
                                    <td>Quantity</td>
                                    <td></td>


                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var it in oderdetailss)
                                {
                                    <tr>
                                        
                                        <td>@iteam.OrderId</td>
                                        <td>@it.ProductId</td>
                                        <td>@it.Product.ProductName</td>
                                        <td>@it.UnitPrice</td>
                                        <td>@it.Quantity</td>
                                        <td><a asp-page="Detail" asp-route-id="@iteam.OrderId" asp-route-pid="@it.ProductId">ReOrder</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>

        }
    </tbody>
</table>
@{
    var selectedPage = Model.Page;
    var numberPage = Model.NumberPage;
    var stdate = @Model.StartDate;
    var edate = @Model.EndDate;
}
@if (Model.orders.Count != 0)
{
    <div class="mt-2">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item @(selectedPage == 1 ? "disabled" : "") mr-5">
                    <a class="page-link btn btn-primary btn-lg @(selectedPage == 1 ? "disabled" : "")" asp-page="Index" asp-route-d1="@stdate" asp-route-d2="@edate" asp-route-pageIndex="1" aria-disabled="true" role="button">First</a>
                </li>
                <li class="page-item @(selectedPage == 1 ? "disabled" : "")">
                    <a class="page-link btn btn-primary btn-lg @(selectedPage == 1 ? "disabled" : "")" asp-page="Index" asp-route-d1="@stdate" asp-route-d2="@edate" asp-route-pageIndex="@(selectedPage - 1)" aria-disabled="true" role="button">Previous</a>
                </li>
                <li class="page-item">
                    <a class="page-link btn btn-primary btn-lg" aria-disabled="true" role="button">@selectedPage/@numberPage</a>
                </li>
                <li class="page-item @(selectedPage == numberPage ? "disabled" : "")">
                    <a class="page-link btn btn-primary btn-lg @(selectedPage == numberPage ? "disabled" : "")" asp-page="Index" asp-route-d1="@stdate" asp-route-d2="@edate" asp-route-pageIndex="@(selectedPage + 1)" aria-disabled="true" role="button">Next</a>
                </li>
                <li class="page-item @(selectedPage == numberPage ? "disabled" : "")">
                    <a class="page-link btn btn-primary btn-lg @(selectedPage == numberPage ? "disabled" : "")" asp-page="Index" asp-route-d1="@stdate" asp-route-d2="@edate" asp-route-pageIndex="@numberPage" aria-disabled="true" role="button">Last</a>
                </li>
            </ul>
        </nav>
    </div>
}