@page
@model PRN221_FinalProject_Team2.Pages.ChangePasswordModel
@{
}
<section class="products section bg-gray" style="height: 100vh">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 title text-center">
                <ul class="list-group">
                    <li class="list-group-item" style="margin-left: 5%"><a href="EditProfile">Edit profile</a></li>
                    <li class="list-group-item" style="margin-left: 5%; background-color: #1bbb1b"><a href="ChangePassword">Change password</a></li>
                </ul>
            </div>
            <div class="col-lg-9 title text-center" style="margin-left: 4%">
                <h2 class="text-center">Change Password</h2>
                <p style="color:red">@ViewData["message"]</p>
                <p style="color:green">@ViewData["mess"]</p>
                <form method="post" class="text-left clearfix">
                    <div class="form-group">
                        <input type="hidden" asp-for="@Model.Account.Role" /><br />
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="@Model.Account.Email" /><br />
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="@Model.Account.Customer.CustomerId" /><br />
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="@Model.Account.AccountId" /><br />
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="@Model.Customer.CustomerId" /><br />
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="@Model.Customer" /><br />
                    </div>
                    @*<div class="form-group">
                        <input type="text" asp-for="@Model.Account.Password" /><br />
                    </div>*@

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group" style="margin: 10px">
                                <div class="form-floating">
                                    <input type="text" placeholder="Current Password" class="form-control" name="old" />
                                    <label class="col-sm-2 control-label">Current Password</label>
                                </div>
                            </div>
                            <div class="form-group" style="margin: 10px">
                                <div class="form-floating">
                                    <input type="text" placeholder="New Password" class="form-control" name="new"/>
                                    <label>New Password</label>
                                </div>
                            </div>
                            <div class="form-group" style="margin: 10px">
                                <div class="form-floating">
                                    <input type="text" placeholder="Confirm new password" class="form-control"  name="confirm"/>
                                    <label>Re-password</label>
                                </>
                            </div>
                            <div class="text-center" style="margin-top:50px; color:aqua">
                                <input type="submit" value="Update" style="background-color: forestgreen" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>