@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var listProduct = Model.products;
    var pageSelected = Model.page;
    var numberPage = Model.numberPage;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h1>Page Index</h1>
<div class="container-fluid" style="margin-top : 50px">
    <div class="row">
        <div class="col-lg-12 title">
            <div class="row">
                @foreach (Product product in listProduct)
                {
                    <div class="col-lg-3 text-center">
                        <h4>@product.ProductName</h4>
                        <img src="data:image/jpg;base64,@(Convert.ToBase64String(product.Category.Picture))" alt="image" width="100" height="100"/>
                        <p>Price: $@(Math.Round(product.UnitPrice.Value, 2))</p>
                        <button class="posision-fixed"><a href="Detail?ProductID=@product.ProductId">Detail</a></button>
                        <button class="posision-fixed"><a href="AddCart?ProductID=@product.ProductId">Add to Cart</a></button>
                    </div>
                }
            </div>
        </div>
    </div>
    @if (listProduct.Count != 0)
    {

        <nav aria-label="Page navigation example" style="margin-top : 50px">
            <ul class="pagination justify-content-center" style="">
                <li class="page-item @(pageSelected == 1? "disabled" : "")"><a class="page-link btn btn-primary btn-lg @(pageSelected == 1? "disabled" : "")" href="Index?pageIndex=1" aria-disabled="true" role="button">First</a></li>
                <li class="page-item @(pageSelected == 1? "disabled" : "")"><a class="page-link btn btn-primary btn-lg @(pageSelected == 1? "disabled" : "")" href="Index?pageIndex=@(pageSelected-1)" aria-disabled="true" role="button">Previous</a></li>
                <li class="page-item"><a class="page-link btn btn-primary btn-lg" href="" aria-disabled="true" role="button">@pageSelected/@numberPage </a></li>
                <li class="page-item @(pageSelected == numberPage? "disabled" : "")"><a class="page-link btn btn-primary btn-lg @(pageSelected == numberPage? "disabled" : "")" href="Index?pageIndex=@(pageSelected + 1)" aria-disabled="true" role="button">Next</a></li>
                <li class="page-item @(pageSelected == numberPage? "disabled" : "")"><a class="page-link btn btn-primary btn-lg @(pageSelected == numberPage? "disabled" : "")" href="Index?pageIndex=@numberPage" aria-disabled="true" role="button">Last</a></li>
            </ul>
        </nav>
    }
</div>

